* {
  padding: 0;
  margin: 0; }

.titleppal {
  color: #144D05;
  font-family: 'Parisienne', cursive;
  font-size: 60px;
  padding-bottom: 12%;
  text-align: center; }

.titleint {
  text-align: center;
  padding: 2%; }

body {
  background-color: white; }

.titlebox {
  padding-top: 15vh; }

@media (min-width: 768px) {
  .titlebox {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
  body {
    background-image: url(../assets/book&nautre.jpeg);
    background-repeat: no-repeat; } }

iframe {
  display: block;
  margin: auto; }

form, table {
  background-color: white; }

.menu {
  margin: 0;
  padding: 0;
  padding-top: 14px; }

.menu__item {
  font-size: 20px;
  display: inline;
  text-align: center;
  padding: 14px 16px;
  border-color: #144D05; }

.menu__item__link {
  color: #f5f3e7;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif; }

.menu__item:hover {
  background-color: green; }

.menu__item__link:hover {
  color: #f5f3e7; }

.menu__item.active {
  background-color: green; }

.tale {
  border: solid 1px; }

.afterbox {
  height: 100vh;
  width: 100%;
  background-color: white; }

.carousel__image {
  height: 100%;
  width: 50vh; }

@media (min-width: 768px) {
  .carousel__div {
    float: left;
    padding-top: 50px;
    padding-left: 10px;
    width: 42%;
    height: 100%;
    display: flex;
    justify-content: center; }
  .carousel__image {
    height: 100%;
    width: 500px; } }

.readme {
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
  color: white; }

.readme:hover {
  background-color: white;
  color: green; }

.whowe__div {
  padding: 5vh;
  text-align: justify; }

@media (min-width: 768px) {
  .whowe__div {
    padding-top: 100px;
    padding-right: 5vh;
    float: right;
    width: 45%;
    color: black; } }

.read-btn {
  display: flex;
  align-items: center;
  justify-content: center; }

.read-btn-link {
  padding: 2vh 3vh;
  text-decoration: none;
  color: white;
  background-color: #144D05; }

.read-btn-link:hover {
  background-color: white;
  color: #144D05; }

.btn-further {
  text-decoration: none;
  color: white; }

.btn-further:hover {
  color: black; }

.card {
  text-align: left; }

@media (min-width: 768px) {
  .read-btn {
    display: none; } }

.btn-form {
  background-color: #144D05;
  color: white;
  margin-bottom: 0.75rem; }

.icon {
  color: #144D05;
  font-size: 2.5rem; }

li a {
  color: #212529; }

li a:hover {
  color: #144D05; }

body {
  font-weight: 600;
  word-spacing: 5px; }

.content__box {
  background-color: white;
  text-align: justify; }

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh; }

.image__responsive {
  height: 75vh; }

.tale {
  padding: 7vh;
  padding-top: 5vh;
  border: 0; }

.quote {
  padding: 5vh; }

.indent {
  text-indent: 2%; }

.cards {
  padding: 5vh;
  background-color: white; }

@media (min-width: 768px) {
  .card-1 {
    width: 80%; }
  .card-2 {
    width: 80%; }
  .card-3 {
    width: 80%; }
  .card-4 {
    width: 80%; }
  .cards {
    margin-left: 17%; } }

form {
  width: 75%;
  height: 75%;
  position: relative;
  left: 10%;
  padding-left: 1rem; }

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease; }

#menuToggle a:hover {
  color: #144D05; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

#menuToggle input:checked ~ ul {
  transform: none; }

@media (min-width: 768px) {
  .menuhamburger {
    display: none; }
  #menuToggle {
    display: none; }
  #menu {
    display: none; } }

@media (max-width: 767px) {
  .menu {
    display: none; } }

.readmore-1:hover {
  color: black; }

.readmore-1 {
  color: white; }

.readmore-2:hover {
  color: black; }

.readmore-2 {
  color: white; }

.readmore-3:hover {
  color: black; }

.readmore-3 {
  color: white; }

.readmore-1 {
  background-color: #347E1F;
  color: white; }

.readmore-2 {
  background-color: #2BB159; }

.readmore-3 {
  background-color: #16420D; }

.readmore-box {
  display: flex;
  justify-content: center;
  align-items: center; }

.text-error {
  color: #144D05;
  font-family: 'Parisienne', cursive;
  text-align: center;
  font-size: 8rem; }

.return-home {
  text-decoration: none;
  color: white; }

.return-home:hover {
  color: black; }
