.text404 {
    color: $colorppal;
    font-family: 'Parisienne', cursive;
    text-align: center;
}

.return-home {
    text-decoration: none;
    color: white;
}

.return-home:hover {
    color: black;
}