ul {
    color: #630541;
}

ol {
    color: black;
}

body {
    font-weight: 600;
    word-spacing: 5px;
}

legend {
    background-color: white;
    font-size: 20px;
}

footer {
    background-color: white;
    text-align: center;
}

