ul {
    color: #630541;
}

ol {
    color: black;
}

body {
    font-weight: 600;
    word-spacing: 5px;
}

legend {
    background-color: white;
    font-size: 20px;
}

footer {
    background-color: white;
    text-align: center;
}

.content__box {
    background-color: white;
    text-align: justify;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

.image__responsive {
    height: 75vh;
}

.tale {
    padding: 7vh;
    padding-top: 5vh;
    border: 0;
}

.quote {
    padding: 5vh;
}

.indent {
    text-indent: 2%;
}