li a {
    color: #212529;
}

li a:hover {
    color: $colorppal;
}

body {
    font-weight: 600;
    word-spacing: 5px;
}


.content__box {
    background-color: white;
    text-align: justify;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

.image__responsive {
    height: 75vh;
}

.tale {
    padding: 7vh;
    padding-top: 5vh;
    border: 0;
}

.quote {
    padding: 5vh;
}

.indent {
    text-indent: 2%;
}

.cards {
    padding: 5vh;
    background-color: white;
}

@media (min-width: 768px) {
    @for $var from 1 through 4 {
        .card-#{$var} {
            width: 80%;
        }
    }
    .cards {
        margin-left: 17%;
    }
}

form {
    width: 75%;
    height: 75%;
    position: relative;
    left: 10%;
    padding-left: 1rem;
}